:root {
    --color-text1: black;
    --color-game-btn-bg: dodgerblue;
    --color-game-btn-fg: white;
    --color-bg1: #dddddd;
    --color-bg2: #dddddd;
    --color-bg3: #eaeaea;
    --color-player1-bg: rgb(98, 255, 247, 1);
    --color-player2-bg: rgb(255, 128, 128, 1);
    --color-player-current-bg: #82ff82;
    --color-player-current-border: #00ff00;
    --color-winning-square-bg: green;
    --color-winning-square-fg: white;
    --color-border1: grey;
    --color-gameboard-lines: #223344;
    --section-shadow: 0 5px 10px rgb(0, 0, 0, 0.3);
    --button-shadow: 5px 5px 10px rgb(0, 0, 0, 0.5);
    --square-shadow: inset 0 6px 6px rgb(0, 0, 0, 0.2);
    --text-shadow: 0 3px 6px rgb(0, 0, 0, 0.2);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: var(--color-bg1);
    margin: 0;
    min-width: 360px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: min(95vw, 65vh);
    min-width: 350px;
    max-width: 100vw;
}

.game-controls {
    display: flex;
}

.game-controls input {
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    background: var(--color-game-btn-bg);
    color: var(--color-game-btn-fg);
    font-size: 1em;
    border: 1px solid var(--color-border1);
    box-shadow: var(--button-shadow);
}

.gameboard-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: min(95vw, 65vh);
    height: min(95vw, 65vh);
    min-width: 350px;
    max-width: 100vw;
    background: var(--color-bg2);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
    box-shadow: var(--section-shadow);
}

.gameboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 12px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;    
    
}

.gameboard__row {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    width: 100%;
    height: 33.333%;
}

.gameboard__square {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.333%;
    font-size: min(30vw, 16vh);
    margin: 0;
    padding: 0;
    background: var(--color-bg3);
    box-sizing: border-box;
    border: 3px solid var(--color-gameboard-lines);
    box-shadow: var(--square-shadow);
    text-shadow: var(--text-shadow);
}

.gameboard__square--x {
    background: var(--color-player1-bg);
}

.gameboard__square--o {
    background: var(--color-player2-bg);
}

.gameboard__square--winner-x {
    background: var(--color-winning-square-bg);
    color:var(--color-winning-square-fg);
}

.gameboard__square--winner-o {
    background: var(--color-winning-square-bg);
    color:var(--color-winning-square-fg);
}

.footer {
    display: flex;
    width: 300px;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px auto;
    padding: 5px 0;
    border-top: 1px solid rgba(60, 60, 60, 0.4);
}