body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: rgb(223, 223, 223);
    margin: 0;
}

.dashboard {
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: min(90vw, 60vh);
    min-width: 350px;
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 10px;
    background: rgb(187, 198, 199);
}

.player {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    border: 1px solid gray;
    border-radius: 5px;
    background: rgb(255, 220, 156);
    padding: 10px;
}

.player__name {
    font-weight: bold;
    font-size: 2.5em;
}

.player__score {
    font-weight: bold;
    font-size: 2em;
    border-radius: 4px;
    background: rgb(0, 119, 69);;
    color: yellow;
    padding: 0 20px;
    text-align: center;
}

.game-controls {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.game-controls button {
    height: 40px;
    margin: 6px 20px;
}

.gameboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #335577;
    border-radius: 12px;
}

.gameboard__row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.gameboard__square {
    display: flex;
    align-items: center;
    justify-content: center;
    width: min(30vw, 18vh);
    height: min(30vw, 18vh);
    min-width: 100px;
    min-height: 100px;
    font-size: min(30vw, 18vh);
    margin: 0;
    padding: 0;
    background: rgb(223, 223, 223);
}

.gameboard__square--x {
    background: rgb(98, 255, 247, 1);
}

.gameboard__square--o {
    background: rgb(255, 128, 128, 1);
}

.gameboard__square--winner-x {
    background: greenyellow;
}

.gameboard__square--winner-o {
    background: greenyellow;
}

.footer {
    display: flex;
    width: 300px;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px auto;
    padding: 20px 0;
    border-top: 1px solid rgba(60, 60, 60, 0.4);
}